.main{
  padding: 1rem;
}
.btn-links{
  text-align: center;
}
.btn-links>.page-btn{
  padding: .5rem;
  margin: .5rem;
  width: 12rem;
  text-align: center;
  background-color: #272121;
  color: #06efd7;
  font-weight: bold;
  border: 1px solid white smooth ;
  border-radius: .6rem;
}

form{
  display: grid;
}
form>input{
  margin: .4rem;
  padding: .2rem;
}